<!DOCTYPE html>
<head>
  <title>Summarizer</title>
</head>
<body style="background-color:lightyellow;">
    <h1>SUMRY</h1>
    <p><small>A python based text-summarization tool</small></p>
    <hr>
	<section class = "input container" id = "input" >
			<form action = "/templates" id="sumform" method = "POST">

				<p><i>Enter text here</i></p>

                                <textarea name = "input_text" id = "input_text" rows="6" cols="30" required="required" 

                                 value = "{{request.form['input_text']}}">
                                    
                                </textarea>

				<p>
					<input type="submit"  class="btn btn-success btn-md" value="Go">
				</p>

				<h4>Summarized Text</h4>

				<textbox name="output_text" id="output_text" maxlength="500000" style="width:900px; 

				height:250px">

					<p>{{ output_summary }} </p>

				</textbox>

				<br>

				<h4>Original Text</h4>

				<p>{{ original_text }}</p>

			</form>
	</section>
</body>
</html>
